html {
    background-color: black;
}

img {
    border: 5px solid white;
}

h1 {
    text-transform: uppercase;
    font-family: "Libre Baskerville", serif;
    font-weight: 400;
    color: white;
    font-style: normal
}

p {
    color: white;
}

div {
    margin: 140px;
    text-align: center;
}